#content_game_module {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#content_game_module_game {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #d9c880;
}

#content_game_module_game_scene {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.chat_text {
  width: 15rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 3rem;
  color: black;
  background: white;
  border-radius: 1rem;
  border: 0.5rem solid #87c8f0;
}

.chat_text_wrapper {
  height: '2px';
  width: '2px';
  position: 'relative';
  overflow: 'visible';
}

#content_game_module_game_chatbox {
  width: calc(100% - 2rem);
  max-width: 100vh;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 3px solid white;
  border-radius: 5px;
  background: #54aeb8;
}

#content_game_module_game_chatbox_composer {
  flex: 1 1 0;
  border: none;
  font-size: 2rem;
}

#content_game_module_game_chatbox_send_button {
  flex: 0 0 auto;
  font-size: 2rem;
}

#content_game_module_game_overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  background: #00000020;
}

#content_game_module_game_overlay>* {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 8px 8px 30px #00000030;
  background: #74bfa0;
  color: white;
}

#content_game_module_game_overlay_seat_loss_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#content_game_module_game_overlay_seat_loss_page>p {
  text-align: center;
}

#content_game_module_game_overlay_integrity_violation_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#content_game_module_game_overlay_integrity_violation_page>p {
  text-align: center;
}