#content {
  height: 100%;
  width: 100%;
  flex: 1 1 0;
  position: absolute;
  top: 0;
  left: 0;
}

#top_bar {
  height: 4rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  pointer-events: none;
}

#top_bar>* {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  pointer-events: none;
}

#top_bar button {
  pointer-events: auto;
}

#top_bar .title {
  margin-left: 0.3rem;
  font-size: 1.6rem;
}

#blocker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #74bfa0;
}

#blocker_indicator {
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid white;
  border-radius: 50%;
  /* TODO: Cut out one corner */
  /* TODO: Animate */
}

#notification {
  max-width: 40%;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  padding: 0.8rem 1.2rem;
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 8px 8px 30px #00000020;
  background: #54aeb8;
}

#notification_message {
  text-align: center;
}