* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-shadow: inherit;
  text-decoration: none;
}

p {
  cursor: default;
}

input {
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 5px;
}

button {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #ffffff20;
  color: white;
}

button:hover {
  background: #ffffff30;
}

button:active {
  background: #ffffff40;
}

.list_wrapper {
  position: relative;
  border: 2px solid white;
  border-radius: 5px;
  overflow: hidden;
}

.list {
  height: calc(100% + 4px);
  width: 100%;
  position: absolute;
  top: -2px;
  overflow-y: scroll;
}

.list_entry {
  margin-bottom: -2px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.button_strip {
  display: flex;
  justify-content: space-between;
}