* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-shadow: inherit;
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  background: #74bfa0;
  font-size: 1.4rem;
  font-family: 'VT323', monospace;
  color: white;
}

p {
  cursor: default;
}

input {
  padding: 0.5rem;
  border: 3px solid white;
  border-radius: 5px;
}

input::placeholder {
  color: #ffffff80;
}

button {
  display: block;
  padding: 0.5rem 1rem;
  position: relative;
  top: -3px;
  border-radius: 5px;
  background: #87c8f0;
  box-shadow: 4px 4px 0 #ffffffa0;
}

button:hover {
  background: #83c2e9;
}

button:active {
  top: -1px;
  left: 2px;
  background: #7ebbe1;
  box-shadow: 2px 2px 0 #ffffff;
}

.list_wrapper {
  position: relative;
  border: 3px solid white;
  border-radius: 5px;
  overflow: hidden;
}

.list {
  height: calc(100% + 4px);
  width: 100%;
  position: absolute;
  top: -2px;
  overflow-y: scroll;
}

.list_entry {
  margin-bottom: -2px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.button_strip {
  display: flex;
  justify-content: space-between;
}