#content_game_module {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#content_game_module_game {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #d9c880;
  color: black;
}

#content_game_module_game_scene {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  perspective-origin: center;
  perspective: 65vh;
}

#content_game_module_game_scene_field {
  height: 50%;
  position: absolute;
  background: url('assets/texture-grass.jpg');
  background-size: 15%;
}

.game_character {
  position: absolute;
  overflow: visible;
}

.game_character_sprite {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  border-left: 6px solid lawngreen;
}

[data-moving]>.game_character_sprite {
  background: gray;
}

[data-right]>.game_character_sprite {
  transform: scaleX(-1);
}

.game_obstacle {
  position: absolute;
  background: white;
}

#content_game_module_game_overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  background: #00000020;
}

#content_game_module_game_overlay>* {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 8px 8px 30px #00000030;
  background: #74bfa0;
  color: white;
}

#content_game_module_game_overlay_seat_loss_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#content_game_module_game_overlay_seat_loss_page>p {
  text-align: center;
}

#content_game_module_game_overlay_integrity_violation_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#content_game_module_game_overlay_integrity_violation_page>p {
  text-align: center;
}