#lobby_module_root {
  height: calc(100% - 4rem);
  width: 100%;
  position: absolute;
  top: 4rem;
  left: 0;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

#lobby_module_root>* {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lobby_section {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lobby_section>:first-child {
  flex: 0 0 auto;
}

.lobby_section>:last-child {
  flex: 1 1 0;
  border: 2px solid white;
  border-radius: 10px;
  overflow-y: scroll;
}

.game_entry {
  height: 6rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
}

.game_entry:last-child {
  border-bottom: none;
  /* TODO: Add bottom border if list doesn't fill all of vertical space */
}

.game_entry:hover {
  background: #ffffff20;
}

#active_games_list>.game_entry:active {
  background: #ffffff40;
}

.game_entry_right_strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.game_entry_time:not(:last-child) {
  margin-right: 0.5rem;
}