#overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000c0;
}

#overlay_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #ffffff30;
  background: black;
}

#overlay_friends_page {
  height: 70vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#overlay_friends_page>.title {
  flex: 0 0 auto;
  align-self: center;
  font-size: 1.2rem;
}

#overlay_friends_page>.list_wrapper {
  flex: 1 1 0;
}

.friend_entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.friend_entry_right_strip {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

#overlay_friends_page_add_friend_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#overlay_friends_page_add_friend_section>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#overlay_friends_page_add_friend_section_result {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid white;
}

#overlay_friends_page_add_friend_section_result_name {
  margin-left: 1rem;
}

#overlay_friends_page_add_friend_section_id_input {
  flex: 1 1 0;
}

#overlay_account_page {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.overlay_account_page_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.overlay_account_page_field_label {
  font-size: 0.8rem;
}

.overlay_account_page_field_value {
  font-size: 1.2rem;
}

#overlay_account_page>button {
  align-self: flex-end;
}

#overlay_modify_account_page {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.overlay_modify_account_page_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.overlay_modify_account_page_field_label {
  font-size: 0.8rem;
}

.overlay_modify_account_page_field>input {
  align-self: stretch;
}